.message-game-title {
  font-size: 44px;
}

.message-matter-end {
  margin-bottom: var(--mini);
}

.message-type_picker {
  display: flex;
  align-items: baseline;

  &:has(input:checked) {
    text-decoration: underline;
  }
}

.message-type_picker_checked {
  text-decoration: underline;
}

.matter-console>.terminal-message {
  text-indent: 2em;
}

.matter-title>.terminal-message {
  text-indent: 0;
}

.message-role_ally {
  color: var(--green-deep-1);
}