.message-game-title {
  font-size: 44px;
}

.message-matter-end {
  margin-bottom: var(--mini);
}

.message-type_picker {
  display: flex;
  align-items: baseline;

  &:has(input:checked) {
    text-decoration: underline;
  }
}

.message-type_picker_checked {
  text-decoration: underline;
}